/* ----------------------- Styling and Colour */
h1,h2,h3,h4 {
    font-family: 'Prompt', sans-serif;
    color: #000;
    font-weight: 600;
}

h1 {
    font-size: 58px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 28px;
    color: #000;
    font-weight: 600;
}

main {
    flex: 1 0 auto;
  }

a {
    color: #FC2929;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #7F7F7F;
    background-color: #fafafa;
    font-size: 15px;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.drop-shadow-all {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.round-borders {
    border-radius: 20px;
}

/* ----------------------- Navbar */

.navbar-custom {
    background-color: #fafafa;
    box-shadow: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
    margin-bottom: 15px;
}

.menu-text {
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
}

nav ul a:hover {
    background-color: #fafafa;
    color: #FC2929;
}

.mobile-icon {
    color: #000;
}

.custom-button {
    background-color: #FC2929;
    border-radius: 50px;
    box-shadow: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

.custom-button-logout:hover {
    background-color: #FC2929;
    color: #fff;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #FC2929;
    color: #fff;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #fff;
    color: #f02727;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* ----------------------- Homepage Styling */

.header-text {
    font-size: 25px;
    width: 70%;
}

.focus-title {
    color: #f02727;
}

.header-frame {
    height: 60vh;
}

.header-title {
    margin-top: 10%;
}

.header-button {
    margin-top: 10%;
    margin-bottom: 10%;
}

.header-signup  {
    background-color: #fff;
    color: #f02727;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 15px;
}

.header-signup:hover {
    background-color: #FC2929;
    color: #fff;
    box-shadow: none;
}

.button-home {
    font-size: 15px;
    border-radius: 50px;
    margin-right: 30px;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 45px;
    text-transform: capitalize;
    transition: 0.8s;
}

.button-recipe {
    background-color: #FC2929;
    border-radius: 50px;
    color: #fff;
}

.button-recipe:hover {
    background-color: #fff;
    color: #f02727;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 15px;
}

.curve {
    background-color: #f02727;
    color: #fff;
    background-size: cover;
    width: 100%;
}

.benefits {
    color: #fff;
    margin-bottom: 50px;
}

.benefits-row {
    padding-top: 4%;
    padding-bottom: 4%;
}

.tick-styling {
    font-size: 88px;
}

.benefit-text {
    font-size: 18px;
}

.curve svg {
    display: block;
}

.curved-upper {
    background: #fafafa;
    margin-bottom: 0;
    z-index: -1;
}

/* ----------------------- Flashes styling */

.flashes h4 {
    font-size: 20px;
    background-color: #f0272788;
    line-height: 1;
    border-radius: 10px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ----------------------- Footer styling */

.footer {
    background-color: #f02727;
    color: #fff;
    bottom: 0;
}

.footer a {
    font-size: 20px;
    color: #fff;
}

.footer p {
    margin-top: 10px;
    margin-bottom: 0;
}
.footer h4 {
    font-family: 'Prompt', sans-serif;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
}

.page-footer {
    padding-top: 0;
    color: #fff;
    background-color: #f02727;
    padding-right: 3%;
}

.page-footer .footer-copyright {
    min-height: 0;
    padding: 0;
    background-color: rgb(240 39 39);
}

/* ----------------------- Profile Page Styling */

.profile-img {
    font-size: 105px;
    color: #f02727;
}

.options {
    font-size: 48px;
    color: #f02727;
    text-align: center;
}

/* ----------------------- Form Styling */

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #11d929;
    -webkit-box-shadow: 0 1px 0 0 #11d929;
    box-shadow: 0 1px 0 0 #11d929;
}

/* ----------------------- Recipe Card Styling */

.card .card-image img {
    border-radius: 20px 20px 0 0;
}

.recipe-info {
    font-weight: bolder;
    color: #000;
}

.recipe-title:hover {
    color: #7F7F7F;
}

.spacing {
    padding-top: 30px;
}

.delete-button {
    color: #f02727;
    font-size: 25px;
    padding-left: 5px;
}

.edit-button {
    color: #11d929;
    font-size: 25px;
    padding-right: 5px;
}

/* ----------------------- Full Recipe Styling */

.timer {
    font-size: 18px;
    color: #f02727;
}

/* ----------------------- Add Recipe Styling */

.example-text {
    font-size: 11px;
    padding-top: 0px;
    margin-top: 0px;
}

input[type=range]+.thumb {
    background-color: #fc2929;
}

.add-button {
    font-size: 28px;
    color: #f02727;
    padding-top: 0px;
    margin-top: 0px;
}