{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2 center">
        <h3>Add Recipe</h3>
    </div>
</div>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="card-panel drop-shadow-all round-borders">
            <!-- Recipe Title -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5"
                    maxlength="21" class="validate" required>
                    <label for="recipe_name"> Recipe Title</label>
                </div>
            </div>
            <!-- Spice Level -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <select id="spice_level" name="spice_level" required>
                        <option value="" disabled selected>Choose your heat</option>
                        <option value="mild">Mild</option>
                        <option value="medium">Medium</option>
                        <option value="hot">Hot</option>
                      </select>
                      <label for="spice_level">Spice Level</label>
                </div>
            </div>
            <!-- Prep & Cooking Time -->
            <div class="row">
                <div class="input-field col s12 m4 offset-m1">
                    <input id="prep_time" name="prep_time" type="text"  minlength="3"
                    maxlength="25" class="validate" required>
                    <label for="prep_time"> Prep Time</label>
                    <p class="example-text">Example Text: 10 mins</p>
                </div>
                <div class="input-field col s12 m4 offset-m1">
                    <input id="cooking_time" name="cooking_time" type="text"  minlength="3"
                    maxlength="25" class="validate" required>
                    <label for="cooking_time"> Cooking Time</label>
                    <p class="example-text">Example Text: 1 hr</p>
                </div>
            </div>
            <!-- Serves -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <p class="range-field">
                        How many does it serve?
                        <input type="range" id="recipe_serves" 
                        name="recipe_serves" min="1" max="15" required/>
                    </p>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <textarea id="brief_description" name="brief_description" minlength="25" 
                    maxlength="250" class="materialize-textarea" required></textarea>
                    <label for="brief_description">Recipe Description</label>
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <h4>Ingredients Required</h4>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <input id="ingredients" name="ingredients" type="text"  minlength="5"
                    maxlength="80" class="validate" required>
                    <label id="ingredients" for="ingredients">Ingredient 1</label>
                </div>
            </div>
            <div class="row new-ingredient"></div>
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <a class="tooltipped" type="button" data-position="right" data-tooltip="New ingredient">
                        <i id="add-ingredients"class="add-button fas fa-plus-circle"></i>
                    </a>
                </div>
            </div>
            <!-- Recipe Directions -->
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <h4>Instructions</h4>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <textarea id="directions" name="directions" minlength="25" 
                    maxlength="350" class="materialize-textarea"></textarea>
                    <label for="directions">Step 1</label>
                </div>
            </div>
            <div class="row new-instruction"></div>
            <div class="row">
                <div class="input-field col s12 m10 offset-m1">
                    <a class="tooltipped" data-position="right" data-tooltip="New Instruction">
                        <i id="add-directions" class="add-button fas fa-plus-circle"></i>
                    </a>
                </div>
            </div>
            <!-- Recipe Image -->
            <div class="col s12 m10 offset-m1">
                <h4>Recipe Image</h4>
            </div>
            <div class="row">
                <div class="file-field input-field col s12 m10 offset-m1">
                     <div class="file-path-wrapper">
                        <input id="recipe_image" name="recipe_image" class="file-path validate" type="text" required>
                        <label for="recipe_image"> Paste you Recipe Image Address Here</label>
                    </div>
                </div>
            </div>
            <!-- Submit Recipe -->
            <div class="row">
                <div class="input-field col s12 m10 offset-m1 center">
                    <button type="submit" class="waves-effect waves-light btn custom-button">Add Recipe</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block footer %}
{% endblock %}