{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <h3>Log In</h3>
        </div>
    </div>
    <!-- Sign Up Form -->
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel drop-shadow-all round-borders">
                <!-- Log In Username -->
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <input id="username" name="username" type="text"  minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username"><i class="far fa-user"></i> Username</label>
                    </div>
                </div>
                <!-- Log In Password -->
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <input id="password" name="password" type="password"  minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password"><i class="fas fa-unlock-alt"></i> Password</label>
                    </div>
                </div>
                <!-- Log In Button -->
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <button type="submit" class="waves-effect waves-light btn custom-button">Log In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <p>Not a Zesty Member Yet?  <a href="{{ url_for('signup') }}">Sign Up Now</a></p>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}