{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <h3>Profile</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <i class="fas fa-user-circle profile-img"></i>
            <h4>{{ username }}</h4>
        </div>
    </div>
    <!-- Prfile page options -->
    <div class="row container">
        <div class="col s12 m6">
            <div class="card-panel drop-shadow-all round-borders center">
                <a href ="#" class="opt-icon">
                    <i class="fas fa-plus-circle options"></i>
                    <h4>Add Recipe</h4>
                </a>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card-panel drop-shadow-all round-borders center">
                <a href ="{{ url_for('view_recipes') }}" class="opt-icon">
                    <i class="fas fa-eye options"></i> 
                    <h4>View Recipes</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <a href="#" class="waves-effect waves-light btn custom-button">Log Out</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}