{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <h3>Recipes</h3>
        </div>
    </div>

    <!-- Search for Recipe -->
    <div class="row">
        <form action="{{ url_for('search_recipe') }}" method="post" class="col s12 m6 offset-m3">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m12">
                    <input type="text" name="search" id="search" minlength="3" class="validate" required>
                    <label for="search"><i class="fas fa-search grey-darken-text search-icon"></i> Search Recipe</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 center">
                    <button type="submit" class="waves-effect waves-light btn custom-button">
                        Search
                    </button>
                    <a href="{{ url_for('view_recipes') }}" class="reset waves-effect waves-light btn custom-button-reset">Reset</a>
                </div>
            </div>
        </form>
    </div>
    {% if recipes|length > 0 %}
    <div class="row">
        <!-- Recipe Card -->
        {% for recipe in recipes %}
            <div class="col s12 m6 l6 xl4">
                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">
                <div class="card drop-shadow-all round-borders">
                    <div class="card-image">
                        <img class="image-style image-card responsive-img" src="{{ recipe.recipe_image }}" alt="Picture off recipe">
                    </div>
                    <div class="card-content">
                            <h4 class="recipe-title">{{ recipe.recipe_name.upper() }}</h4>
                        </a>
                        <p>
                            <span class="times">Prep Time: </span> {{ recipe.prep_time }} | 
                            <span class="times">Cook Time: </span> {{ recipe.cooking_time }}
                        </p>
                        <br>
                         <p class="description">
                            {{ recipe.brief_description|truncate(150) }}
                        </p>
                        <br>
                        <p class="right">By: {{ recipe.created_by }}</p>
                        {% if session.user|lower == recipe.created_by|lower or session.user|lower == 'admin'|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="tooltipped" data-position="left" data-tooltip="Edit Recipe">
                                <i class="edit-button fas fa-plus-circle"></i>
                            </a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" data-target="modal1" class="tooltipped modal-trigger" 
                                data-position="right"onclick="return confirm('Are you sure you want to Delete?');"
                                id="btnDelete" data-tooltip="Delete Recipe"> <!-- Help from Codegreeper -->
                                <i class="delete-button fas fa-times-circle"></i>
                            </a>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <h3>No Results Found</h3>
            <a href="{{ url_for('view_recipes') }}"><p><i class="fas fa-angle-left"></i> Go Back</p></a>
        </div>
    </div>
    {% endif %}

{% endblock %}