<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.spice_level }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cooking_time }}<br>
        {{ recipe.recipe_serves }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.directions }}<br>
        {{ recipe.recipe_image }}<br>
    {% endfor %}
</body>
</html>