{% extends "base.html" %}
{% block content %}

    <!-- {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.spice_level }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cooking_time }}<br>
        {{ recipe.brief_description }}<br>
        {{ recipe.recipe_serves }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.directions }}<br>
        {{ recipe.recipe_image }}<br>
    {% endfor %} -->
    <div class="row">
        <div class="col s12 m8 offset-m2 center">
            <h3>Recipes</h3>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m4">
            <a href="{{ url_for('full_recipe') }}">
                <div class="card drop-shadow-all round-borders">
                    <div class="card-image">
                        <img class="image-style" src="{{ recipe.recipe_image }}" alt="Picture off recipe">
                    </div>
                    <div class="card-content">
                        <h4 class="recipe-title">{{ recipe.recipe_name }}</h4>
                    </a>
                    <p>
                        <span class="times">Prep Time: </span> {{ recipe.prep_time }} | 
                        <span class="times">Cook Time: </span> {{ recipe.cooking_time }}
                    </p>
                    <br>
                    <p>
                        {{ recipe.brief_description }}
                    </p>
                    <p class="right">By: {{ recipe.created_by }}</p>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}